html, body, header, footer, main, article, section, nav, ul,
li, a, div, p, h1, h2, h3, h4, h5, h6, span, img, figcaption, figure {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}


input[type="button"],
input[type="submit"],
button {
    background: transparent;
    border: none;
}

input[type="button"],
input[type="submit"],
input[type="search"],
button,
a {
    outline: none;
    cursor: url("../img/cursor_pointer.png"), pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.hidden {
    display: none !important;
}

.button {
    display: inline-block;
    padding: 22px 50px 25px;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.25rem;
    border: 1px solid rgb(229, 229, 229);
    transition: all 0.5s;
}

.button:hover,
.button:active {
    border: 1px solid rgb(241, 74, 88);
    color: rgb(241, 74, 88);
}

/*********STICKY FOOTER**********/
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-wrapper {
    flex: 1 0 auto;
    overflow: hidden;
}

.footer {
    flex: 0 0 auto;
}

/*****************************************************************/
/****************************HEADER*****************************/

body {
    min-width: 375px;
    font-family: "Open Sans", sans-serif;
    background: white;
}

.header {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
}

.header__top-header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    /*border-bottom: 1px solid rgb(229, 229, 229);*/
}

.logo--short {
    font-size: 1.5rem;
}

.logo--full {
    font-size: 1.6rem;
    display: none;
}

.logo-link {
    padding: 15px 20px;
}

.header__options {
    display: flex;
}

.authorization {
    display: none;
    font-family: "Roboto", sans-serif;
}

.authorization__email,
.authorization__sign-up {
    padding: 0 5px;
    font-size: 0.75rem;
}

.authorization__email:hover,
.authorization__email:active,
.authorization__sign-up:hover,
.authorization__sign-up:active {
    text-decoration: underline;

}

.shopping-bag-link {
    display: flex;
    align-items: center;
    padding: 15px 20px 15px 25px;
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
    background: url("../img/shopping-bag.png") left center no-repeat transparent;
}

.shopping-bag-link:active,
.shopping-bag-link:hover {
    text-decoration: underline;
}

.shopping-bag-link__counter,
.shopping-bag-link__price {
    padding-left: 5px;
}

.menu-btn {
    width: 54px;
    border: none;
    border-left: 1px solid rgb(229, 229, 229);

}

.menu-btn--opened {
    background: url("../img/menu-icon.png") center center no-repeat transparent;
}

.menu-btn--closed {
    border-left: none;
    background: url("../img/close-icon.png") center center no-repeat transparent;
}

/*****************************************************************/
/*******************************NAV*******************************/

.nav {
    position: absolute;
    /*height: 95vh;*/
    width: 100%;
    padding: 10px 0;
    background: white;
    z-index: 1000;
    border-top: 1px solid rgb(229, 229, 229);
    border-bottom: 1px solid rgb(229, 229, 229);
    /*box-shadow: 0 10px 30px -5px rgba(0,0,0,0.1);*/
}

.nav__link {
    display: inline-block;
    padding: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    transition: color 0.3s;
}

.nav__link:hover,
.nav__link:active {
    color: rgb(241, 74, 88);
}

.nav__link--active {
    color: rgb(241, 74, 88);
}

/*****************************************************************/
/****************************SEARCH****************************/
.search {
    margin: 15px;
    display: inline-block;
    border-bottom: 2px solid rgb(229, 229, 229);
    background: linear-gradient(to right, transparent 5%, white 10%);
}

.search__field {
    width: 165px;
    padding: 5px;
    border: none;
    font-size: 0.8rem;
    background: url("../img/search-icon.png") right center no-repeat transparent;
}

.search__field::placeholder {
    color: rgb(181, 181, 181);
    font-size: 0.75rem;
    font-weight: bold;
}

.search__field:-ms-input-placeholder {
    color: rgb(181, 181, 181);
    font-size: 0.8rem;
    font-weight: bold;
}

/*****************************************************************/
/************************TOP Promo block************************/

.promo {
    position: relative;
    top: 1px;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.promo-item {
    width: 100%;
    overflow: hidden;
}

.promo-item:last-child {
    display: none;
    border-left: 1px solid rgb(229, 229, 229);
}

.promo-item__wrapper {
    position: relative;
    margin-bottom: -4px;
}

.promo-item__img {
    width: 100%;
    height: auto;
    /*margin-bottom: -1px;*/
}

.promo-item__caption {
    position: absolute;
    top: 15%;
    right: 15%;
    text-align: center;
}

.promo-item__name {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.promo-item__sale {
    margin-top: 10px;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 1.2rem;
    color: rgb(138, 138, 138);
}

/*****************************************************************/
/***************************BEST OFFER****************************/
.best-offer__content-wrapper {
    display: flex;
    flex-flow: column nowrap;
}

.best-offer {
    max-width: 1180px;
    margin: 0 auto;
    padding: 50px 20px 100px;
    text-align: center;
}

.best-offer__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.best-offer__heading {
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.best-offer__paragraph {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;
    font-family: "Crimson Text", serif;
    font-style: italic;
    font-size: 1rem;
    color: rgb(65, 65, 65);
    line-height: 1.8;
}

.best-offer__operator {
    padding: 10px 1px 100px;
    font-weight: bold;
    font-size: 1.8rem;
}

.best-offer__operator--equal {
    display: none;
}

.best-offer__up-btn {
    background: url("../img/arrow-up.png") center center / 25% no-repeat;
    padding: 30px 30px 35px;
}

.best-offer__down-btn {
    background: url("../img/arrow-down.png") center center / 25% no-repeat;
    padding: 30px;
}

.best-offer__total-price {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.best-offer__old-total-price,
.best-offer__new-total-price {
    display: block;
}

.best-offer__old-total-price {
    position: relative;
    padding: 15px 0;
    color: rgb(117, 117, 117);
}

.best-offer__old-total-price::after {
    content: "";
    position: absolute;
    width: 70px;
    top: 22px;
    left: -2px;
    height: 1px;
    transform: rotate(-30deg);
    background: rgb(241, 74, 88);
}

.best-offer__new-total-price {
    position: relative;
    font-weight: bold;
    font-size: 1.5rem;
}

.best-offer__new-total-price::before {
    content: "=";
    position: absolute;
    left: -25px;
}
.best-offer__add-btn-wrapper {
    text-align: center;
    width: 100%;
}

/*****************************************************************/
/******************************NEW ARRIVALS************************/
.new-arrivals {
    text-align: center;
    max-width: 1180px;
    margin: 0 auto;
    padding: 95px 10px 100px;
}

.new-arrivals__heading {
    margin-bottom: 65px;
    font-size: 1.7rem;
}

.new-arrivals__container {
    display: flex;
    justify-content: space-around;
}

.new-arrivals__item {
    padding: 10px;
}

.new-arrivals__item:nth-child(3),
.new-arrivals__item:nth-child(4) {
    display: none;
}

.new-arrivals__btn {
    margin-top: 65px;
    font-size: 1.15rem;
    padding: 17px 55px 20px;
}

/*****************************************************************/
/**********************************ITEM*****************************/
.item {
    display: block;
}

.item__figure {
    position: relative;
    max-width: 240px;
}

.item__img {
    width: 100%;
    height: auto;
    margin-bottom: -3px;
}

.item__new {
    position: absolute;
    top: 15px;
    left: 0;
    width: 55px;
    height: 25px;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    background: rgb(241, 74, 88);

}

.item__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .5s;
    background-color: rgba(0, 0, 0, 0.5);
}

.item:hover .item__overlay {
    opacity: 1;
}

.item:hover .item__name {
    color: rgb(241, 74, 88);
}

.item__overlay-caption {
    color: rgb(241, 74, 88);
    font-weight: bold;
    font-size: 1.5rem;
}

.item__caption {
    padding-top: 30px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 0.75rem;
}

.item__name {
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s;
}
.item__old-price {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    color: rgb(117, 117, 117);
}
.item__old-price:before {
    content: "";
    position: absolute;
    width: 52px;
    top: 8px;
    left: -7px;
    height: 1px;
    transform: rotate(-30deg);
    background: rgb(241, 74, 88);
}

/*****************************************************************/
/****************************FILTERS****************************/

.filters-header {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    height: 55px;
    display: flex;
    align-items: center;
}

.selected-filters {
    padding: 0 20px;
}

.selected-filters__item {
    display: inline-block;
    font-weight: bold;
    font-size: 0.9rem;
}

.selected-filters__item-selected {
    color: rgb(241, 74, 88);
}

.filters-header::after {
    content: "";
    position: absolute;
    right: 0;
    top: 1px;
    width: 75px;
    height: 55px;
    background: linear-gradient(to right, transparent,
    white 30%, white);
}

.filters {
    position: absolute;
    top: 57px;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 20px 0;
    z-index: 100;
    font-weight: bold;
    background: white;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.filter {
    width: 50%;
    margin-bottom: 30px;
}

.filter__headings {
    margin-bottom: 10px;
    font-size: 1rem;
}

.filter__selected-heading {
    display: none;
}

.filter__item {
    padding: 10px 0;
    font-size: 0.9rem;
    color: rgb(168, 168, 168);
    cursor: url("../img/cursor_pointer.png"), pointer;
}

.filter__item:hover {
    color: rgb(51, 51, 51);
}

.filter__item--not-selected,
.filter__item--not-selected:hover {
    color: black;
}

.filter__item--active,
.filter__item--active:hover {
    color: rgb(241, 74, 88);
}

/*markers*/
.filter__item::before {
    display: inline-block;
    content: "\A";
    width: 5px;
    height: 5px;
    margin: 2px 20px 2px 5px;
    border-radius: 50%;
    background: rgb(168, 168, 168);
}

.filter__item--not-selected::before {
    background: black;
}

.filter__item--active::before {
    background: rgb(241, 74, 88);
}

/*btn*/
.filters-btn {
    position: absolute;
    right: 25px;
    top: 1px;
    bottom: 1px;
    width: 95%;
    border: none;
    z-index: 100;
    background: transparent;
}

.filters-btn--closed {
    background: url("../img/close-icon.png") right center no-repeat;
}

.filters-open-icon {
    width: 10px;
    height: 10px;
    margin-right: 20px;
    z-index: 100;
    background: url("../img/little-arrow-down.png") center center no-repeat;
}

/*****************************************************************/
/**********************Promo center block*************************/
.promo-center {
    width: 80%;
    padding: 10px 0 60px;
    margin: 0 auto;
    text-align: center;
}

.promo-center__heading {
    margin: 0 auto 15px;
    letter-spacing: 0.05rem;
    line-height: 1.7;
    font-size: 1.1rem;

}

.promo-center__heading-span {
    color: rgb(241, 74, 88);
}

.promo-center__paragraph {
    margin: 0 auto;
    font-family: "Crimson Text", serif;
    font-style: italic;
    font-size: 1rem;
    color: rgb(65, 65, 65);
    line-height: 2;
}

/*****************************************************************/
/****************************Catalog block*************************/

.catalog {
    padding: 10px;
    text-align: center;
    max-width: 1180px;
    margin: 0 auto;
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.catalog__item {
    width: 50%;
    padding: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.catalog__item--promo {
    width: 100%;
}
.catalog__btn {
    margin-bottom: 90px;
    margin-top: 20px;
}

/*****************************************************************/
/*************************Promo bottom block*************************/
.promo-bottom {
    position: relative;
    top: 1px;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.promo-bottom__item {
    width: 100%;
    overflow: hidden;
}

.promo-bottom__item:last-child,
.promo-bottom__item:nth-child(2) {
    display: none;
}

.promo-bottom__item-wrapper {
    position: relative;
    margin-bottom: -4px;
}

.promo-bottom__item-img {
    width: 100%;
    height: auto;
    /*margin-bottom: -1px;*/
}

.promo-bottom__item-caption {
    position: absolute;
    top: 15%;
    right: 15%;
    text-align: center;
}

.promo-bottom__item-name {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}

.promo-bottom__item-text {
    margin-top: 10px;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 1.2rem;
    color: white;
}

.promo-bottom__item-caption--bottom {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 175px;
}

.promo-bottom__item:nth-child(2) .promo-bottom__item-text {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-style: normal;
}

/*****************************************************************/
/*************************FOOTER*******************************/
.footer {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.link {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
}

.link:hover,
.link:active {
    border-bottom: 1px solid black;
}

/**********-1-*********/
.footer-links {
    width: 100%;
    display: flex;
}

.footer-links__section {
    width: 50%;
    padding: 33px 20px;
}

.footer-links__heading {
    margin-bottom: 35px;
    font-size: 0.9rem;
}

.footer-links__item {
    margin: 20px 0;
}

.footer-links__link {
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;

}

/**********-2-*********/
.contacts {
    width: 100%;
    display: flex;
    border-top: 1px solid rgb(229, 229, 229);
}

.contacts__section {
    width: 50%;
    padding: 20px 20px 45px;
}

.contacts__section:first-child {
    border-right: 1px solid rgb(229, 229, 229);
}

.contacts__heading {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.contacts__link {
    font-size: 0.75rem;
}

.tweet-us-link {
    padding-left: 25px;
    background: url("../img/twi_gray.png") left center no-repeat;
}

.delivery-section {
    display: none;

}

.delivery-section__paragraph {
    font-family: "Crimson Text", serif;
}

/**********-3-*********/
.social {
    width: 25%;
    padding: 20px 20px 20px 0;
    border-top: 1px solid rgb(229, 229, 229);
}

.social__link {
    padding: 10px;
}

/**********-4-*********/
.copyright {
    width: 63%;
    padding: 25px 20px 15px;
    font-size: 0.65rem;
    font-weight: bold;
    border-top: 1px solid rgb(229, 229, 229);
}

/**********-5-*********/
.share {
    width: 37%;
    padding: 20px 20px 20px 0;
    text-align: right;
    border-top: 1px solid rgb(229, 229, 229);
}

.share__caption {
    font-size: 0.9rem;
    font-weight: bold;
    transition: color 0.3s;
}

.share:hover .share__caption {
    color: rgb(241, 74, 88);
}

.share__counter {
    position: relative;
    margin-left: 10px;
    padding: 3px;
    font-size: 0.7rem;
    font-weight: normal;
    background: rgb(244, 244, 244);
}

.share__counter:before {
    content: '';
    position: absolute;
    left: -10px;
    top: 5px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right: 5px solid rgb(244, 244, 244);
}

/**********-6-*********/
.other-links {
    /*order: 3;*/
    width: 75%;
    padding: 20px;
    border-top: 1px solid rgb(229, 229, 229);
}

.other-links__item {
    display: inline-block;
}

.other-links__link {
    margin-right: 10px;
    font-size: 0.65rem;
    font-weight: bold;
}

/*****************************************************************/
/***********************BORDER Separators*************************/

.border {
    position: relative;
    top: -1px;
    height: 1px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.border:after {
    content: "";
    position: absolute;
    top: 1px;
    height: 1px;
    width: 100%;
    background: rgb(229, 229, 229);
}

/************************ITEM PAGE*************************/
/**********************************************************/
/**********************HEADER BOTTOM **********************/

.header-bottom {
    position: relative;
    display: flex;
    align-items: center;
    height: 52px;
    max-width: 1180px;
    margin: 0 auto;
    padding: 5px 20px;
    overflow: hidden;
}

.breadcrumb-link {
    font-weight: bold;
    font-size: 0.8rem;
    border-bottom: 1px solid transparent;
    transition: border 0.3s;
}

.breadcrumb-link:hover {
    border-bottom: 1px solid black;
}

.header-bottom__heading {
    font-size: 1.1rem;
}

/**********************************************************/
/****************FULL ITEM SECTION***************/
.item-full {
    display: flex;
    flex-direction: column;
    max-width: 1180px;
    margin: 0 auto;
    padding: 15px 20px;
}

/**********************item photo section**********************/
.item-full__photo-section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.item-full__photo-full-wrapper {
    width: 100%;
    overflow: hidden;
}

.item-full__photo-full {
    width: 100%;
    height: auto;
    margin-bottom: -7px;
}

.item-full__thumbnail-list {
    display: flex;
    overflow: hidden;
}

.item-full__thumbnail-item {
    position: relative;
    width: 33.33%;
    margin-bottom: -4px;
    cursor: url("../img/cursor_pointer.png"), pointer;
}

.item-full__thumbnail-photo {
    width: 100%;
    height: auto;
}

.item-full__thumbnail-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
}

.item-full__thumbnail-overlay--active {
    opacity: 1;
}

.item-full__thumbnail-overlay:hover {
    opacity: 1;
}

/**********************item content section**********************/
.item-full__content-section {
    text-align: center;
}

.item-full__name {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.05rem;
    font-size: 1.25rem;
    margin: 45px 0 20px;
}

.item-full__price {
    margin-bottom: 25px;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
}


.item-full__description {
    margin-bottom: 20px;
    font-family: "Crimson Text", serif;
    font-style: italic;
    font-size: 1rem;
    color: rgb(65, 65, 65);
    line-height: 2;
}

.item-full__size,
.item-full__color {
    display: flex;
}

.item-full__size-list,
.item-full__color-list {
    display: flex;
    flex-wrap: wrap;
}

.item-full__size {
    margin-bottom: 10px;
}

.item-full__color {
    margin-bottom: 65px;
}

.item-full__color-item,
.item-full__size-item {
    padding: 10px 15px;
    margin: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    border: 1px solid transparent;
    transition: border 0.3s;
    cursor: url("../img/cursor_pointer.png"), pointer;
}

.item-full__option-item--selected {
    border: 1px solid rgb(229, 229, 229);
}

.item-full__size-heading,
.item-full__color-heading {
    align-self: center;
    padding: 10px 0;
    width: 45px;
    font-size: 0.8rem;
    font-weight: normal;
}

.item-full__add-btn {
    margin-top: 0;
    margin-bottom: 90px;
    padding: 20px 55px 22px;
    font-size: 1.1rem;
}

/************************SHOPPING BAG PAGE*************************/
.shopping-bag {
    padding: 15px 20px;
    margin: 0 auto;
    max-width: 1180px;
}

.shopping-bag__list {
    display: flex;
    flex-wrap: wrap;
}

.shopping-bag__item {
    width: 100%;
    margin-bottom: 40px;
}
.shopping-bag__message {
    padding: 50px 20px;
    font-weight: bold;
}

.item--bag {
    display: flex;
}

.item__figure--bag {
    width: 50%;
}

.item__caption--bag {
    width: 50%;
    text-align: left;
    padding: 10px 20px;
    font-family: "Open Sans", sans-serif;
}

.item__name--bag {
    line-height: 1.8;
    font-family: "Roboto", sans-serif;
}

.item__price--bag {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 0.9rem;
}

.bag-item__color,
.bag-item__size,
.bag-item__quantity {
    padding: 5px 0;
    font-size: 0.7rem;
}

.bag-item__quantity {
    margin-bottom: 25px;
    margin-top: -10px;
}

.bag-item__minus,
.bag-item__plus {
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(241, 74, 88);
}

.bag-item__plus {
    position: relative;
    top: 2px;
}

.bag-item__delete-btn {
    padding: 0;
    color: rgb(241, 74, 88);
    font-weight: bold;
}

/*shopping bag free delivery*/
.free-delivery {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    background: rgb(247, 247, 247);
    padding: 12px 25px;
    text-align: center;
}

.free-delivery__paragraph {
    font-size: 0.7rem;
    font-weight: bold;
}

.free-delivery__span {
    color: rgb(241, 74, 88);
}

/********shopping bag total price***********/
.shopping-bag-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 35px 95px;
    margin: 0 auto;
    max-width: 1180px;
}

.shopping-bag-total__buy-btn {
    margin: 15px 0 15px;
    padding: 20px 65px;
}

.shopping-bag-total__discount {
    color: rgb(241, 74, 88);
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.shopping-bag-total__price-wrapper {
    font-weight: bold;
}

.shopping-bag-total__price {
    font-size: 1.1rem;
}

.shopping-bag-total__empty-btn {
    font-size: 0.7rem;
    font-weight: bold;
}
.shopping-bag-total__empty-btn:hover {
    text-decoration: underline;
}
/**************************************************************************/
/**********************************MEDIA****************************************/
/**************************************************************************/

@media screen and (min-width: 768px) {

    .border {
        top: 0;
    }
    /**********************header**********************/
    .header {
        padding: 10px 15px 20px;
    }

    .header__top-header {
        border: none !important;
    }

    .logo--full {
        display: block !important;
    }

    .logo--short {
        display: none !important;
    }

    .authorization {
        display: flex;
        align-items: flex-start;
        padding: 20px 50px;
    }

    .menu-btn {
        display: none;
    }

    .shopping-bag-link {
        align-items: flex-start;
        padding: 20px 20px 15px 25px;
        font-size: 0.75rem;
        background: url(../img/shopping-bag.png) left 20px no-repeat transparent;
    }

    /***************nav***************/
    .nav {
        position: relative;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        border: none;
    }

    .nav__item {
        display: inline-block;
    }

    .nav__link {
        font-size: 0.75rem;
        padding: 0 10px;
        letter-spacing: initial;
    }

    /***************search***************/
    .search {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        padding-right: 15px;
        padding-left: 35px;
        border: none;
    }

    .search__field {
        width: 15px;
        padding: 5px 15px;
        border-bottom: 2px solid transparent;
        transition: width 0.5s;
    }

    .search__field:focus {
        width: 240px;
        padding: 5px;
        border-bottom: 2px solid rgb(229, 229, 229);
    }

    .search__field:-ms-input-placeholder {
        color: transparent;
    }

    .search__field:focus .search__field:-ms-input-placeholder {
        color: rgb(181, 181, 181);
    }

    /*************top promo**************/
    .promo-item {
        width: 50%;
        display: block !important;
    }

    /******************* best offer *******************/
    .best-offer__content-wrapper {
        flex-flow: row wrap;
    }

    .best-offer {
        padding: 95px 35px 95px;
    }

    .best-offer__heading {
        font-size: 2.3rem;
        margin: 0 auto 20px;
    }

    .best-offer__operator {
        padding: 10px 30px 75px;
    }

    .best-offer__items {
        width: 70%;
    }

    .best-offer__total-price {
        position: relative;
        bottom: 55px;
        width: 30%;
        padding-left: 90px;
    }

    .best-offer__paragraph {
        font-size: 1.2rem;
    }

    .best-offer__add-btn {
        padding: 25px 110px;
        margin-top: 45px;
    }

    .best-offer__up-btn,
    .best-offer__down-btn {
        background-size: 40%;
    }

    .best-offer__plus {
        padding: 10px 30px 100px;
        font-size: 2rem;
    }

    .best-offer__new-total-price::before {
        left: -40px;
    }

    .best-offer__new-total-price {
        font-size: 1.8rem;
    }

    .best-offer__old-total-price {
        position: relative;
        left: -30px;
        font-size: 1.3rem;
    }

    .best-offer__old-total-price::after {
        width: 88px;
        top: 25px;
    }

    /*************************new arrivals*******************/
    .new-arrivals {
        padding: 95px 25px 100px;
    }

    .new-arrivals__item:nth-child(3) {
        display: block;
    }

    .new-arrivals__btn {
        padding: 22px 95px 25px;
    }

    /*************************item*************************/
    .item__caption {
        font-size: 0.85rem;
    }
    .item__old-price:before {
        width: 60px;
    }

    .item__name {
        margin-bottom: 20px;
    }

    /************************CATALOG***********************/
    .catalog {
        padding: 20px;
    }

    .catalog__item {
        width: 33.33%;
        margin-bottom: 30px;
        padding: 20px;
    }

    .catalog__btn {
        padding: 23px 70px;
        margin-bottom: 80px;
    }

    /**********************PROMO CENTER***********************/
    .promo-center {
        padding: 30px 0 70px;
    }

    .promo-center__heading {
        width: 450px;
        font-size: 1.2rem;
    }

    .promo-center__paragraph {
        width: 560px;
        font-size: 1.1rem;
    }

    /************************FILTERS***********************/
    .filter {
        width: 33.33%;
    }

    /*******************SHOPPING BAG PAGE********************/
    .shopping-bag {
        padding: 30px 40px;
    }

    .shopping-bag__item {
        width: 50%;
        padding-right: 30px;
    }

    .item__name--bag,
    .item__price--bag {
        margin-bottom: 8px;
    }

    .bag-item__quantity {
        margin-bottom: 10px;
    }

    /*shopping bag total block*/
    .shopping-bag-total {
        flex-flow: row nowrap;
    }

    .shopping-bag-total__empty-btn {
        order: 1;
        width: 33.33%;
        text-align: left;
    }
.shopping-bag-total__buy-btn-block {
    order: 2;
    width: 33.33%;
    text-align: center;
}


    .shopping-bag-total__price-block {
        order: 3;
        width: 33.33%;
        position: relative;
        text-align: right;
    }
    .shopping-bag-total__price-wrapper,
    .shopping-bag-total__price {
        font-size: 1.2rem;
    }
    .shopping-bag-total__discount {
        font-size: 0.9rem;
        position: absolute;
        bottom: 20px;
        right: 15px;
    }


    /************************FOOTER***********************/
    .footer-border {
        position: relative;
        max-width: 1400px;
        margin: 0 auto;
        width: 100%;
    }

    .footer-border:before {
        content: "";
        position: absolute;
        bottom: 78px;
        height: 1px;
        width: 100%;
        background: rgb(229, 229, 229);
    }

    .footer-links {
        width: 66%;
    }

    .footer-links__section {
        padding: 45px 35px 100px;
    }

    .footer-links__heading {
        margin-bottom: 35px;
        font-size: 1rem;
    }

    .footer-links__link {
        font-size: 0.85rem;
    }

    /**********contacts**********/
    .contacts {
        width: 33%;
        flex-flow: column;
        border: none;
    }

    .contacts__section {
        width: 100%;
    }

    .contacts__section:first-child {
        border: none;
        padding: 45px 20px 20px;
    }

    .contacts__section:last-child {
        padding: 35px 20px 0;
    }

    .contacts__heading {
        font-size: 1rem;
    }

    .contacts__link {
        font-size: 0.85rem;
    }

    /**********social**********/
    .social {
        order: 3;
        position: absolute;
        left: 65%;
        bottom: 38%;
        width: 120px;
        padding: 20px;
        border: none;
    }

    /*********copyright***********/
    .copyright {
        order: 4;
        width: 40%;
        padding: 35px 0 30px 45px;
        font-size: 0.7rem;
        border: none;
    }

    /**********share**********/
    .share {
        order: 5;
        width: 20%;
        padding: 30px 20px 25px 0;
        text-align: center;
        border: none;
    }

    .share__caption {
        font-size: 1rem;
    }

    /********other-links******/
    .other-links {
        order: 6;
        width: 40%;
        padding: 30px 35px 30px 0;
        text-align: right;
        border: none;
    }

    .other-links__link {
        font-size: 0.7rem;
    }

    /********************ITEM PAGE*******************/
    .header-bottom {
        padding: 5px 40px;
    }

    .item-full {
        padding: 30px 40px;
    }

    .item-full__size,
    .item-full__color {
        justify-content: center;
    }

    .item-full__photo-full-wrapper {
        width: 75%;
    }

    .item-full__photo-section {
        flex-direction: row;
    }

    .item-full__thumbnail-list {
        width: 25%;
        display: block;
        flex-direction: column;
    }

    .item-full__thumbnail-item {
        width: 100%;
    }

    .item-full__name {
        margin: 20px 0;
    }

    .item-full__description {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .item-full__add-btn {
        margin-bottom: 70px;
    }

    /*******************promo bottom*******************/
    .promo-bottom {
        height: 250px;
    }

    .promo-bottom__item:first-child {
        width: 66.66%;
    }

    .promo-bottom__item:nth-child(2) {
        display: block;
        width: 33.33%;
    }

}

@media screen and (min-width: 1025px) {

    .logo-link {
        padding: 15px 40px;
    }

    /*******************search*******************/
    .search__field {
        width: 120px;
        border-bottom: 2px solid rgb(229, 229, 229);
    }

    .search {
        position: static;
    }

    .search__field:focus {
        width: 120px;
    }

    .search__field:-ms-input-placeholder {
        color: rgb(181, 181, 181);
    }

    .nav__list {
        width: 85%;
        display: flex;
        justify-content: space-around;
    }

    .nav__link {
        font-size: 0.8rem;
    }

    /*******************top promo*******************/
    .promo-item__name {
        font-size: 1.7rem;
    }

    /*******************new arrivals*******************/
    .new-arrivals__item:nth-child(4) {
        display: block;
    }

    .new-arrivals__heading {
        margin-bottom: 90px;
        font-size: 3rem;
    }

    /*******************best offer*******************/
    .best-offer {
        padding: 95px 60px 95px;
    }

    .best-offer__heading {
        font-size: 3rem;
    }

    .best-offer__paragraph {
        width: 100%;
    }

    .best-offer__content-wrapper {
        position: relative;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .best-offer__items {
        width: 56%;
    }

    .best-offer__add-btn-wrapper {
        position: absolute;
        right: 0;
        bottom: 140px;
        width: auto;
    }
    .best-offer__add-btn {
       /* position: absolute;
        right: 0;
        bottom: 140px;*/
    }

    .best-offer__total-price {
        position: relative;
        bottom: 72px;
        width: 34%;
        padding: 0;
    }

    .best-offer__old-total-price::after {
        left: -7px;
    }

    .best-offer__old-total-price {
        left: -60px;
    }

    .best-offer__new-total-price::before {
        display: none;
    }

    .best-offer__operator--equal {
        display: block;
    }

    .best-offer__add-btn,
    .new-arrivals__btn {
        padding: 20px 100px;
        font-size: 1.5rem;
    }

    /***********************item*************************/
    .item__caption {
        padding-top: 40px;
    }

    /**********************CATALOG*************************/
    .catalog {

    }

    .catalog__item {
        width: 25%;
        padding: 35px 25px;
    }

    .catalog__btn {
        padding: 22px 100px 25px;
        font-size: 1.5rem;
        margin-top: 5px;
    }

    /*******************PROMO CENTER**********************/
    .promo-center {
        width: 90%;
        padding: 15px 0 55px;
    }

    .promo-center__heading {
        width: 100%;
        margin: 0 auto 10px;
        font-size: 1.5rem;
    }

    .promo-center__paragraph {
        width: 100%;
    }

    /*************************FILTERS*********************/
    .filters-header,
    .filters {
        height: 65px;
    }

    .filters {
        display: flex !important;
        flex-flow: row nowrap;
        top: 1px;
        padding: 0 45px;
        border-bottom: none;
    }

    .selected-filters {
        display: none;
    }

    .filters-btn {
        display: none;
    }

    .filter {
        margin-bottom: 0;

    }

    .filter__item {
        padding: 10px 15px;
        font-size: 0.8rem;
        color: black;
        transition: all 0.3s;
    }

    .filter__item:before {
        display: none;
    }

    .filter__item:hover {
        background: rgb(247, 247, 247);
    }
    .filter__item--active,
    .filter__item--not-selected {
        color: rgb(241, 74, 88) !important;
        background: rgb(247, 247, 247);
    }

    .filter__headings {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 15px;
        margin-bottom: 0;
        font-size: 1rem;
        height: 65px;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }

    .filter__headings::after {
        content: "";
        position: absolute;
        right: 15px;
        top: 42%;
        width: 10px;
        height: 10px;
        background: url("../img/little-arrow-down.png") center center no-repeat;
    }

    .filter:hover .filter__headings {
        box-shadow: 4px 0 8px -5px rgba(0, 0, 0, 0.1),
        -4px 0 8px -5px rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgb(229, 229, 229);
        border-left: 1px solid rgb(229, 229, 229);
    }

    .filter__selected-heading {
        display: block;
    }

    .filter__list {
        display: none;
        background: white;
        border: 1px solid rgb(229, 229, 229);
        /*border-top: none;*/
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    }

    .filter:hover .filter__list {
        display: block;
    }

    /**/
    .filter--selected {
        background: rgb(247, 247, 247);
    }

    .filter--selected .filter__heading {
        font-size: 0.8rem;
    }

    .filter__selected-heading {
        color: rgb(241, 74, 88);
        margin-top: 7px;
    }

    /*******************SHOPPING BAG PAGE********************/
    .shopping-bag {
        padding: 30px 60px;
    }

    .shopping-bag__item {
        margin-bottom: 90px;
    }

    .item__name--bag {
        margin-bottom: 12px;
    }

    .item__price--bag {
        margin-bottom: 30px;
    }

    .bag-item__color,
    .bag-item__size,
    .bag-item__quantity {
        padding: 6px 0;
    }

    .bag-item__quantity {
        margin-bottom: 25px;
    }

    .free-delivery__paragraph {
        font-size: 0.75rem;
    }
    /************shopping bag total***********/
    .shopping-bag-total {
        padding: 15px 60px 95px;
    }
    .shopping-bag-total__buy-btn {
        font-size: 1.5rem;
        margin: 15px 0 0;
        padding: 22px 100px;
    }
    .shopping-bag-total__empty-btn {
        font-size: 0.8rem;
    }

    /*******************************footer*******************************/
    .footer-links {
        width: 50%;
        border-right: 1px solid rgb(229, 229, 229);
    }

    .contacts {
        flex-flow: row wrap;
        width: 50%;
    }

    .contacts__section {
        width: 50%;
    }

    .contacts__section:first-child {
        padding: 50px 0 50px 55px;
    }

    .contacts__section:nth-child(2) {
        padding: 50px;
    }

    .social {
        left: 52%;
    }

    .delivery-section {
        display: block;
        padding: 0 55px;
        margin-bottom: 160px;
        font-size: 1.2rem;
        color: rgb(189, 189, 189);
    }

    /*************************ITEM PAGE*************************/
    .header-bottom {
        padding: 5px 55px;
    }

    .item-full {
        padding: 60px;
        flex-direction: row;
    }

    .item-full__size, .item-full__color {
        justify-content: left;
    }

    .item-full__photo-full-wrapper {
        width: 100%;
    }

    .item-full__photo-section {
        width: 50%;
        flex-direction: column;

    }

    .item-full__content-section {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-left: 45px;
        text-align: left;
    }

    .item-full__thumbnail-list {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .item-full__description {
        width: 100%;
        margin: 0;
    }

    .item-full__add-btn {
        order: 6;
        width: 60%;
        margin: 0 auto 70px;
        text-align: center;
    }

    .item-full__name {
        font-size: 1.6rem;
        margin: 20px 0 10px;

    }

    .item-full__price {
        order: 3;
        font-size: 1.6rem;
    }

    .item-full__description {
        order: 2;
        margin-bottom: 45px;
        font-size: 1.1rem;
        line-height: 1.8;
    }

    .item-full__size {
        order: 4;
    }

    .item-full__color {
        order: 5;
    }

    /************************promo bottom************************/
    .promo-bottom {
        height: auto;
    }

    .promo-bottom__item-name {
        font-size: 1.7rem;
    }

    .promo-bottom__item:last-child .promo-bottom__item-name {
        color: rgb(241, 74, 88);
    }

    .promo-bottom__item:last-child .promo-bottom__item-text {
        color: rgb(138, 138, 138);
    }

    .promo-bottom__item:first-child {
        width: 50%;
    }

    .promo-bottom__item:nth-child(2),
    .promo-bottom__item:nth-child(3) {
        display: block;
        width: 25%;
    }

    .promo-bottom__item-caption--bottom {
        padding-top: 85%;
    }

}

@media screen and (min-width: 1300px) {
    .best-offer {
        padding: 95px 0 95px;
    }

    .footer-border:before,
    .border:after {
        background: linear-gradient(to right, transparent 0%, rgb(229, 229, 229) 3%,
        rgb(229, 229, 229) 97%, transparent);
    }

}

@media screen and (min-width: 1400px) {
    .footer-border:before,
    .border:after {
        background: linear-gradient(to right, transparent 0%, rgb(229, 229, 229) 10%,
        rgb(229, 229, 229) 90%, transparent);
    }
}